<app-header></app-header>
<app-loader></app-loader>
<router-outlet></router-outlet>
<app-footer></app-footer>
<button type="button" class="btn btn-primary popup-button" data-toggle="modal" data-target="#exampleModalLong">
    <i class="fa fa-handshake-o" aria-hidden="true"></i> So sánh ({{this.totalProduct?this.totalProduct:0}})
</button>
  
  <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">SO SÁNH ĐIỆN THOẠI</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div *ngFor="let item of compare" class="col-6 center">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/../assets/{{item?.productImage}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{item?.productName}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
